.page-login{
    --background: #3a3ec1;
}

.logo{
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 20px;
}

.item-login {
    margin-bottom: 10px; 
}

.icon-login {
    margin-right: 10px !important;
}

.input-login {
    margin-right: 15px;
}

.titulo-login {
    margin-bottom: 50px;
}

.recuperar-senha{
    font-size: 20pt;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 10pt;
    display: block;
    text-align: center;
    color: #6ad5b9;
}

.botao-entrar{
    margin-top: 30px;
    color: white;
}

.label-ajuda{
    margin-top: 40px;
    text-align: center;
}

ion-card-header {
    padding: 5px;    
}

.form-login{
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
    margin-bottom: 10px;
    height: 65%;
}
