<ion-content class="page-login">

  <div class="div-logo" [hidden]="keyboard.isVisible">
    <!-- Logo -->
    <img src="assets\image\Logo.png" class="img-logo" />
  </div>

  <div class="div-card-login">
    <ion-card class="form-login" type="md">
      <ion-card-header class="form-login-header">
        <ion-card-title class="titulo-login">Login</ion-card-title>
      </ion-card-header>

      <!-- Input E-mail -->
      <ion-item class="item-login">
        <ion-label position="floating">E-mail</ion-label>
        <ion-icon name="mail" mode="ios" slot="end"></ion-icon>
        <ion-input type="email" [(ngModel)]="email" name="email" class="input-login"></ion-input>
      </ion-item>

      <!-- Input Senha -->
      <ion-item class="item-login">
        <ion-label position="floating">Senha</ion-label>
        <ion-icon name="lock" mode="ios" slot="end"></ion-icon>
        <ion-input type="password" [(ngModel)]="senha" name="senha" class="input-login"></ion-input>
      </ion-item>

      <!-- Button Entrar  -->

      <ion-button class="botao-entrar" (click)="entrar()" color="secondary">
        <strong>Entrar</strong>
      </ion-button>

      <!-- Label Ajuda  -->
      <div class="label-ajuda">
        <ion-label (click)="ajuda()">Esqueceu a senha? <strong style="color:#3a3ec1">Clique Aqui!</strong></ion-label>
      </div>
    </ion-card>
  </div>

</ion-content>