<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="icon-bar">
      <ion-label>Mural</ion-label>
      <ion-icon mode="ios" name="easel" size="large"></ion-icon>
      <!--<ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="atividades">
      <ion-label>Atividades</ion-label>
      <ion-icon mode="ios" name="list-box" size="large"></ion-icon>
      <!-- <ion-label>Atividades</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="avaliacoes">
      <ion-label>Avaliações</ion-label>
      <ion-icon mode="ios" name="clipboard" size="large"></ion-icon>
      <ion-badge>2</ion-badge>
      <!-- <ion-label>Avaliações</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="estatisticas">
      <ion-label>Dashboard</ion-label>
      <ion-icon mode="ios" name="pie" size="large"></ion-icon>
      <!-- <ion-label>Estatísticas</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>