<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="icon-bar">
      <ion-icon mode="ios" name="home"></ion-icon>
       <!--<ion-label>Home</ion-label> -->
    </ion-tab-button> 

    <ion-tab-button tab="atividades">
      <ion-icon mode="ios" name="paper"></ion-icon>
      <!-- <ion-label>Atividades</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="avaliacoes">
      <ion-icon mode="ios" name="happy"></ion-icon>
      <ion-badge>6</ion-badge>
      <!-- <ion-label>Avaliações</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="estatisticas">
      <ion-icon mode="ios" name="pie"></ion-icon>
      <!-- <ion-label>Estatísticas</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>