<div class="barra-header">
  <ion-row>
    <ion-col class="logo-app">
      <p style="padding: 0px; margin: 0px; font-size: large; vertical-align: auto">BEMTEVI</p>
    </ion-col>
    <ion-col class="icon-notificacao">
      <ion-icon name="notifications-outline" size="large"></ion-icon>
    </ion-col>
  </ion-row>
</div>

<ion-content no-padding>

  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-row>
        <ion-col size="12" style="padding: 0px;">
          <div class="frame-home">
            <!-- Aqui pode ficar um espaço de customização para trocar cor/imagem -->
          </div>
          <!-- Transformar no componente Info
            Se Responsável: Aluno e Turma
            Se Profissional: Turma, Sala -->
          <div class="info">
            <p id="nomeAluno"><strong>Eduardo Silva</strong></p>
            <p id="nomeTurma">Infantil II</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-row>

    <div class="opcoes-user">
      <ion-fab horizontal="end" slot="fixed">
        <ion-fab-button mode="ios" color="secondary">
          <ion-icon mode="ios" name="more"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

    <ion-row style="height: 200px;">
      <ion-col size="12" style="padding: 10px">
        <app-resumo-diario></app-resumo-diario>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
          <app-atividades-recentes></app-atividades-recentes>
      </ion-col>
    </ion-row>
    

  </ion-grid>



</ion-content>






<!-- <ion-row>
    <ion-col size="12">

      <ion-row style="padding-right: 10px; padding-left: 10px">
        <ion-label class="titlulo-sessao" style="color: #0D1E3F">Resumo Diário</ion-label>
      </ion-row>

      <ion-row style="padding-right: 10px; padding-left: 10px;">
        <ion-card class="card-resumo-diario">
          <ion-card-header style="background-color: #3a3ec1; padding-left: 10px">
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Alimentação sdsd</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Keep close to Nature's heart... and break clear.
          </ion-card-content>
        </ion-card>

        <ion-card class="card-resumo-diario">
          <ion-card-header style="background-color: #3a3ec1">
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Alimentação sdsd</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Keep close to Nature's heart... and break clear.
          </ion-card-content>
        </ion-card>

        <ion-card class="card-resumo-diario">
          <ion-card-header style="background-color: #3a3ec1">
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Alimentação sdsd</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Keep close to Nature's heart... and break clear.
          </ion-card-content>
        </ion-card>
      </ion-row>

    </ion-col>
  </ion-row> -->



<!-- <ion-card class="card-atividades-recentes"> -->
<!-- <ion-card-header style="padding: 0px"> -->
<!-- <ion-item href="#" class="activated" style="padding-left: 0px;"> -->
<!-- <ion-icon name="bookmark" slot="start"></ion-icon> -->
<!-- <ion-label>Dança</ion-label> -->
<!-- </ion-item> -->
<!-- <ion-card-subtitle>Dança</ion-card-subtitle> -->
<!-- <ion-card-title>Dança</ion-card-title> -->
<!-- </ion-card-header> -->
<!-- <ion-card-content> -->
<!-- Awesome content -->
<!-- </ion-card-content> -->
<!-- </ion-card> -->