#preview {
  
}

.infopreview{
    margin-top: -53px;
}

#nomeAluno, #nomeTurma {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    padding: 0%;
    color: white;
}

.fab-button {
    margin-top: 180px;
}